* {
    background-color: rgb(14, 31, 184);
}

h3 {
    color: crimson;
}
h4 {color: khaki;}

/*ID selector*/
#MyID1{
    color: rgb(255, 0, 0);
}

#MyID2{
    color: darkslategrey;
    text-align: right;
}

/*Class Selector*/
.one{
    color: cornsilk;
    text-align: left;
}